/* Base Styles (Desktop) */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
}

/* Header */
#header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.logo-and-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.contact-info {
    display: flex;
    gap: 1.5rem;
}

.contact-item {
    color: #686868;
    text-decoration: none;
}

/* Navbar */
.navbar {
    border-top: 2px solid #e3e2e1;
    background-color: #f1f1f1;
    position: relative;
}

.menu-button {
    display: none;
    background: #24320e;
    border: none;
    color: white;
    padding: 12px 20px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.menu-button::after {
    content: '☰';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

.navbar-list li {
    position: relative;
    line-height: 2rem;
}

.navbar-list li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
}

.navbar-list li:hover>a {
    background-color: #24320e;
    color: white;
}

/* Dropdown styling */
.navbar-list ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f1f1f1;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.navbar-list li:hover>ul {
    display: block;
}

.navbar-list ul li {
    width: 100%;
}

.navbar-list ul li a {
    padding: 0.75rem 1rem;
    color: #333;
}

/* Active State */
.navbar-list li.active {
    background-color: #5f8125;
    border-top: 2px solid #24320e;
}

.navbar-list li.active>a {
    color: #fff;
}

/* Project Icons */
.project-icons {
    display: flex;
    justify-content: center;
    background-color: #6B8E23;
    width: 100%;
}

.project-icons .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0;
}

.project-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
    border-right: 1px solid #84B533;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex: 1;
}

.project-icon:first-child {
    border-left: 1px solid #84B533;
}

.project-icon:hover {
    background-color: #2d3e12;
    text-decoration: underline;
    color: white;
}

.project-icon .fa-solid {
    font-size: 64px !important;
    margin-bottom: 12px;
    /* color: #4CAF50; */
}

/* Banner */
#banner {
    padding: 0rem;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dot.active {
    background: white;
}

/* Main Section */
.container {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.events,
.notifications,
.services {
    flex: 1 1 calc(50% - 20px);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background: #f9f9f9;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.events h3,
.notifications h3,
.services h3 {
    margin: 0 0 15px 0;
    border-bottom: 2px solid #6B8E23;
    padding-bottom: 5px;
}

.events .event,
.notifications .notification {
    display: flex;
    margin-bottom: 10px;
}

.events .event {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.events .event .date {
    background: #6B8E23;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.events .event .details {
    flex-grow: 1;
}

.events .event .details h4 {
    margin: 0;
    font-size: 16px;
}

.notifications .notification {
    margin: 10px 0;
}

.notifications a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}

.service-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.service-container .service {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.service-container a.service {
    color: white;
    text-decoration: none;
}

.service-container a.service:hover {
    text-decoration: underline;
    background: #d2691e;
}

.service-container .service:nth-child(1) {
    background: #b22222;
}

.service-container .service:nth-child(2) {
    background: #4b0082;
}

.service-container .service:nth-child(3) {
    background: #6B8E23;
}

.service-container .service:nth-child(4) {
    background: #d2691e;
}

.about-section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.about-section iframe {
    width: 40%;
    margin-right: 20px;
}

.about-section .content {
    width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.about-section .content h2 {
    color: #333;
    margin-bottom: 10px;
}

.about-section .content p {
    margin: 10px 0;
    line-height: 1.6;
}

.about-section .content a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}

.about-section .content a:hover {
    text-decoration: underline;
}

/* About Us */
#about-us {
    padding: 40px 0;
    background-color: #f9f9f9;
}

#about-us .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#about-us h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#about-us p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Feedback Form */
.form-container {
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A8A0F;
}

.form {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #5A8A0F;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form h1 {
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 96%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #555;
}

.form-group textarea {
    resize: none;
    height: 120px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

.submit-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Contact Us */
#contact-us {
    padding: 40px 0;
    background-color: #f9f9f9;
}

#contact-us .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#contact-us h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#contact-us .contact-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-us .address-info p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 5px 0;
}

#contact-us .map-container {
    margin: 20px 0;
}

#contact-us .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us .form {
    width: 80%;
    max-width: 750px;
    padding: 20px;
    background-color: #5A8A0F;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#contact-us .form h1 {
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

#contact-us .form-group {
    margin-bottom: 20px;
}

#contact-us .form-group label {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

#contact-us .form-group input,
#contact-us .form-group textarea {
    width: 96%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
}

#contact-us .form-group input::placeholder,
#contact-us .form-group textarea::placeholder {
    color: #555;
}

#contact-us .form-group textarea {
    resize: none;
    height: 120px;
}

#contact-us .form-group input:focus,
#contact-us .form-group textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

#contact-us .submit-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#contact-us .submit-btn:hover {
    background-color: #45a049;
}

/* Footer */
#footer {
    background-color: #24320e;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-item {
    max-width: 200px;
    text-align: center;
}

.footer-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.footer-item .icon {
    font-size: 24px;
    color: #6c8547;
    margin-bottom: 10px;
}

.footer-item p {
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-bottom {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    margin: 0 5px;
}

/* Project Page */
#project-banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}

#project-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#project-banner .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#project-banner .banner-overlay h1 {
    font-size: 3rem;
    margin: 0;
}

#project-details {
    padding: 40px 0;
    background-color: #f9f9f9;
}

#project-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#project-details p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

#project-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

#project-details ul li {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

#project-gallery {
    padding: 40px 0;
    background-color: #fff;
}

#project-gallery .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

#project-gallery h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Tablet View */
@media screen and (max-width: 1024px) {
    .header-container {
        padding: 0.75rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .contact-info {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .project-icons .container {
        flex-direction: column;
        align-items: center;
    }

    .project-icon {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #1a2409;
    }

    .project-icon:last-child {
        border-bottom: none;
    }

    .project-icon {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .project-icon .fa-solid {
        font-size: 36px !important;
        margin-bottom: 0;
        margin-right: 12px;
    }

    .slider-container {
        height: 300px;
    }

    #about-us h2 {
        font-size: 1.75rem;
    }

    #about-us p {
        font-size: 0.95rem;
    }

    #contact-us h2 {
        font-size: 1.75rem;
    }

    #contact-us .contact-info p {
        font-size: 0.95rem;
    }

    #contact-us .map-container iframe {
        width: 100%;
        height: 400px;
    }

    #project-banner {
        height: 300px;
    }

    #project-details h2,
    #project-gallery h2 {
        font-size: 1.75rem;
    }

    #project-details p,
    #project-details ul li {
        font-size: 0.95rem;
    }
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .logo-and-title {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: unset;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .title {
        font-size: 1.3rem;
    }

    .contact-info {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        justify-content: center;
    }

    .contact-item {
        padding: 0.25rem;
    }

    .menu-button {
        display: block;
    }

    .navbar-list {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 0 !important;
        background: #f1f1f1;
    }

    .navbar-list li {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .navbar-list li:last-child {
        border-bottom: none;
    }

    .navbar-list li a {
        padding: 15px 20px;
    }

    .navbar-list ul {
        position: static;
        display: none;
        width: 100%;
        box-shadow: none;
        background: #e5e5e5;
    }

    .navbar-list li:hover>ul {
        display: none;
    }

    .navbar-list li.active>ul {
        display: block;
    }

    .navbar.active .navbar-list {
        display: flex;
    }

    .navbar.active .menu-button::after {
        content: '×';
    }

    .project-icons {
        flex-direction: column;
        align-items: center;
    }

    .project-icon {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #1a2409;
    }

    .project-icon:last-child {
        border-bottom: none;
    }

    .slider-container {
        height: 200px;
    }

    .main-section {
        flex-direction: column;
    }

    .notifications {
        order: -1;
    }

    .events,
    .notifications,
    .services {
        flex: 1 1 100%;
    }

    .events .event,
    .notifications .notification {
        flex-direction: row;
        align-items: center;
    }

    .events .event .date {
        margin-right: 10px;
        margin-bottom: 0;
        width: auto;
        text-align: center;
    }

    .about-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-section iframe {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .about-section .content {
        width: 100%;
        box-sizing: border-box;
    }

    .service-container {
        flex-direction: column;
        gap: 10px;
    }

    .service-container .service {
        width: 90%;
    }

    .footer-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-item {
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }

    .project-icon .fa-solid {
        font-size: 36px !important;
    }

    #about-us {
        padding: 20px 0;
    }

    #about-us h2 {
        font-size: 1.5rem;
    }

    #about-us p {
        font-size: 0.9rem;
    }

    #contact-us {
        padding: 20px 0;
    }

    #contact-us h2 {
        font-size: 1.5rem;
    }

    #contact-us .contact-info p {
        font-size: 0.9rem;
    }

    #contact-us .form {
        width: 90%;
    }

    #contact-us .map-container iframe {
        width: 100%;
        height: 300px;
    }

    #project-banner {
        height: 200px;
    }

    #project-details h2,
    #project-gallery h2 {
        font-size: 1.5rem;
    }

    #project-details p,
    #project-details ul li {
        font-size: 0.9rem;
    }
}